{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class='row'>
        <div class='col-12'>
            <h1 class='text-center'>Retrouvez tous nos biens disponibles ici</h1>
            <hr>
            <div>
            <table class="table-primary center">
                
                <tr>
                    {{form_start(form)}}
                        <td>{{form_row(form.minpiece)}}</td>
                        <td>{{form_row(form.maxpiece)}}</td>
                        <td>{{form_row(form.minsurface)}}</td>
                        <td>{{form_row(form.maxsurface)}}</td>
                        <td>{{form_row(form.minprix)}}</td>
                        <td>{{form_row(form.maxprix)}}</td>
                </tr>
                <tr class="d-flex justify-content-center">
                    <td><button type="submit" class='btn btn-primary w-100'>Filtrer</button></td>
                    {{form_end(form)}}
                </tr>
            </table>
            <hr>
           
            </div>
            <div class="d-flex flex-wrap">
                {% if biens %}
                {% for bien in biens %}
                    <article class='center m-5 ps-2 pe-2 pb-2 border' style='width:320px;'>
                        {% if not bien.photos is empty %}
                            {% set firstphoto = bien.photos|first  %}
                            <img src="{{ asset('img/biens/' ~ firstphoto.photo) }}" alt="{{bien.titre}}" id="photo_biens"><br>
                           
                        {% endif %} 
                        <strong>{{bien.titre}}</strong><br>
                        Nombre de pièces: {{bien.nbrepieces}}<br>
                        Surface: {{bien.surface}}<br>
                        Prix: {{bien.prix}}<br>
                        {{bien.transactiontype}}
                        <br><a href="{{path('single_bien',  {id: bien.id})}}"><button class='btn'>Voir le bien</button></a>
                    </article>   
                {% endfor %}
                {% else %}
                    <p>Il n'y a aucun bien enregistré</p>
                {% endif %}

            </div>
            
            
            
        </div>
        
    </div>

</div>
    

    
{% endblock %}
