{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class='row'>
            <div class='col-12'>
                <h1 class='text-center'>Retrouvez tous nos biens disponibles ici</h1>
                <hr>
                <div>
                    {{ include('search/_filtre.html.twig') }}
                    <hr>
                    <div>
                        <p>Nombre des biens disponibles: <strong id='nbr'>{{biensAlouer + biensAvendre}}</strong></p>
                    </div>
            
                    {{ include('search/_tri.html.twig') }}
            
                    {{ include('bien/_card.html.twig') }}
                </div>
            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="{{(page == 1) ? 'disabled' : ''}}  page-item">
                        <a class="page-link" href="{{ (page > 1) ? '?page=' ~ (page - 1) : '' }}"><i class="fa-solid fa-angles-left"></i></a>
                    </li>
                    {% for item in 1..((total / limit)|round(0, 'ceil')) %}
                        <li class="{{(page == item) ? 'active' : ''}} page-item">
                            <a href="?page={{ item }}" class="page-link">{{ item }}</a>
                        </li>  
                    {% endfor %} 
                    {% set pages = ((total / limit)|round(0, 'ceil')) %}
                    <li class="{{(page == pages) ? 'disabled' : ''}} page-item">
                        <a class="page-link" href="{{ (page < 1) ? '?page=' ~ (page + 1) : '' }}"><i class="fa-solid fa-angles-right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>   
{% endblock %}
