{% extends 'base.html.twig' %}

{% block body %}
	<div class='container mt-0'>
		<div class='row'>
			{{ include('bien/_menu.html.twig') }}
			
			<div class='col-10'>
				<div class='row'>
					<div class='col-12 text-end mb-5'>
						<i class="fa-solid fa-user"></i>
						{{employeur}}
						<br>
						{% if not is_granted('ROLE_ADMIN') %}
							<a href="{{path('user_update',  {id: user.id})}}" class='me-3'>
								<button class='btn' id='btn_modifier'>Modifier mot de passe</button>
							</a>
						
						{% endif %}
						
						<hr>
					</div>
				</div>

				{% if app.user.id %}

					{% if administration =='Appointement' %}
						{{ include('bien/appointement.html.twig') }}
					{% endif %}
					{% if administration =='Biens' %}
						{{ include('bien/allbiens.html.twig') }}
					{% endif %}
					{% if administration =='Employés' %}
						{{ include('bien/employeurs.html.twig') }}
					{% endif %}
				{% endif %}


			</div>
		</div>
	</div>
{% endblock %}
