{% extends 'base.html.twig' %}

{% block body %}
    <div class='container mb-5'>
        <h1 class='text-center'>Ajouter un nouveau bien</h1>
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('bien/_form.html.twig') }}
       {% else %}
            {{ form_start(form) }}
                {{ form_row(form.titre) }}
                {{ form_row(form.nbrepieces) }}
                {{ form_row(form.surface) }}
                {{ form_row(form.prix) }}
                {{ form_row(form.localisation) }}
                {{ form_row(form.type) }}
                {{ form_row(form.etage) }}
                {{ form_row(form.transactiontype) }}
                {{ form_row(form.description) }}
                {{ form_row(form.dateconstruction) }}
                {{ form_row(form.photos) }}
                {{ form_row(form.options) }}
                {#l'employeur du bien prendra l'id du user connecté#}
                {{ form_row(form.employeur) == user.id}}

                <button type="submit" class="btn">Ajouter</button>
            {{ form_end(form) }}
        
        {% endif %}
    </div>
    
{% endblock %}
