{% extends 'base.html.twig' %}

{% block title %}Editet ce Bien{% endblock %}

{% block body %}
<div class="container">
    <h1 class='text-center'>Modifier le Bien</h1>

    {{ include('bien/_form.html.twig', {'button_label': 'Modifier'}) }} 

    <hr>
    <table class="table text-center">
    <tr>
        {# on parcours les images du bien pour pouvoir les supprimer si on souhaite#}
        {% for photo in bien.photos %}
             {% if not bien.photos is empty %}
                    <td>
                    {# on affiche les photos avec un bouton supprimer#}
                        <img src="{{ asset('img/biens/' ~ photo.photo) }}" alt="{{bien.titre}}" width='200px' height='200px'><br>
                        <form method="post" action="{{ path('delete_photo', {'id': photo.id}) }}" onsubmit="return confirm('Vous voulez vraiment supprimer cette photo?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ photo.id) }}">
                            <button class="btn mt-3"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </form>

                    </td>
                           
             {% endif %} 
        {% endfor %}
         </tr>  
    </table>

    <div>
    {#un bouton pour supprimer le bien#}
        {{ include('bien/_delete_form.html.twig') }} 
    </div>
 
</div>
   
{% endblock %}
